body{
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: white;
}

h1{
  color: goldenrod;
  font-size: 70px;
  margin-top: 50px;
}
p{
  font-size: 30px;
  margin-top: 30px;
}

#message-el {
  font-style: italic;
}

button{
  background-color: goldenrod;
  color: #1d6b40;
  width: 200px;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  text-transform: uppercase;
}